<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="applicationContextUtil" class="com.tujia.myssm.common.ApplicationContextUtil"/>

    <import resource="classpath:spring/spring-context.xml"/>
    <import resource="classpath:spring/spring-bean.xml"/>
    <import resource="classpath:spring/spring-redis.xml"/>
    <import resource="classpath:spring/spring-dataSource.xml"/>
</beans>
