<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="30 seconds">

    <property name="log.dir" value="${catalina.base}/logs" />
    <property name="encoding" value="UTF-8"/>
    <property name="normal-pattern"
              value="%d{yyyy-MM-dd.HH:mm:ss.SSS} %-5level TraceId[%X{traceId}] [%thread] [%logger{0}.%M:%L] - %msg%n" />
ß
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${normal-pattern}</pattern>
            <charset>${encoding}</charset>
        </encoder>
    </appender>

    <appender name="errorAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <Append>true</Append>
        <encoder>
            <pattern>${normal-pattern}</pattern>
            <charset>${encoding}</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.dir}/error.%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="bizBaseAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Append>true</Append>
        <encoder>
            <pattern>${normal-pattern}</pattern>
            <charset>${encoding}</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.dir}/user-promotion.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="bizAsyncAppender" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>500</queueSize>
        <includeCallerData>true</includeCallerData>
        <appender-ref ref="bizBaseAppender"/>
    </appender>

    <appender name="redisBaseAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Append>true</Append>
        <encoder>
            <pattern>${normal-pattern}</pattern>
            <charset>${encoding}</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.dir}/redis.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="redisAsyncAppender" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>500</queueSize>
        <includeCallerData>true</includeCallerData>
        <appender-ref ref="redisBaseAppender"/>
    </appender>

    <logger name="com.tujia.price.promotion" level="INFO" additivity="false">
        <appender-ref ref="bizAsyncAppender"/>
        <appender-ref ref="errorAppender"/>
    </logger>

    <logger name="com.tujia.redis" level="INFO" additivity="false">
        <appender-ref ref="redisAsyncAppender"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="errorAppender"/>
        <appender-ref ref="consoleAppender"/>
    </root>

</configuration>